<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
<style>
ul {
  list-style-type: none;
  margin: 0;
  color:#3065ba;
  padding: 0;
}

li {
  display: inline;
}
head {
 color:#3065ba;
 }
</style>
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
</html>
